header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
  .container.position-relative.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7
        if post
          .post-heading
            h1 #{post.title}
            span.meta
              | Опубликовал:&nbsp;
              a(href=`/users/${post.author.id}/posts`) #{post.author.username}
              | , #{new Date(post.createdAt).toLocaleDateString()}
        else
          .site-heading
            h1 #{title}
